.manage-schedule-container{
    .m-s-title{
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    .btn-save-schedule{
        border: none;
    }
    .pick-hour-container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 20px;
        button{
            padding: 5px 15px;
            border: 1px solid gray;
        }
        .btn-schedule{
            margin-top: 20px;
            &.active{
                background-color: orangered;
            }
        }
    }
}